<p id="notice"><%= notice %></p>
<div class="card border" style="width: 33rem;margin-left: 550px;height: 500px;">
  <div class="card-body">

    <div class="row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
      <%= @post.title %>
    </div>

    <div class="row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
      <%= @post.description %>
    </div>

    <div class="row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Image</label>
      <%= image_tag(@post.image.url , width:200) %>
    </div>


    <%= form_for [@post, @post.comments.build]  do |f| %>
    <%= f.label 'New comment' %><br>
    <%= f.text_area :comment,id: 'input',class:"textfield" %><br>
    <%= f.submit 'Submit',class:"button btn btn-success"%>
    <% end %>

    <div id = "likkke_<%= @post.id%>">
      <strong>Likes</strong>
      <%= render 'likes/like_post',post:@post %>
    </div>


    <div id="comment_<%= @post.id %>">
      <strong>Comments</strong>
      <%= render 'comments/comment', post:@post %><br>
    </div>


    <script type="text/javascript">

     $("#new_comment").submit(function(event) {
       event. preventDefault();
    // var post_id = "<%#= @post.id %>"
    var data = $("#new_comment").serialize();
    $.ajax({
      url: "/posts/"+<%= @post.id %>+"/comments",
      type: 'POST', 
      data: data,
      success: function(a){
        alert('it works');
      }
    });
  });

</script>

</div>  
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', root_path %>
